.forms {
  display: inline-flex;
}

table,
tr,
th,
td {
  vertical-align: middle;
}

th {
  height: 30px;
  width: 25vw;
  background-color: teal;
  color: white;
  vertical-align: middle;
}

td {
  height: 30px;
}
td input {
  height: 26px;
}
